/* utility class */

.wrapper {
	padding: 25px;
}

/* base setup */

* {
	-webkit-font-smoothing: antialiased;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background: #bfa57c;
	color: #fff;
}

body {
	color: #a48d66;
	font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
}

h1, h2, h3, h4, b {
	font-weight: 300;
	font-family: bree-web, Bree, sans-serif;
}

h2 {
	font-size: 28px;
	padding-bottom: 60px;

}

b {
	font-weight: 500;
	font-size: 16px;

	color: #c3522f;

}

/* ---------- */




.navbar{
	margin: 0 auto;
	text-align: center;
}

.navbar-header {
	float: none;
	margin: 0 auto;
	text-align: center;
}
.navbar-brand
{
/*    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
	vertical-align: middle;*/
	float: none;
	color: #ffcc00;
	font-size: 1.6em;
	font-family: Georgia, Helvetica, Arial, serif;
	letter-spacing: 10px;
}

.navbar-brand:hover {
	color: #ffcc00;
}

.navbar-nav {
	float: none;
	margin: 0 auto;
}

.navbar-nav {
	text-align: center;
	display: inline-block;
}

/* home.html */

.home-img-banner {
	position: relative; overflow: auto;
}

.home-img-banner li {
	list-style: none;
}

.home-img-banner ul li { 
	float: left;
}

.home-img-banner img {
	width: 100%;
}

.content p {
	color: #333;
}

/* history.html */

.history-img-banner img {
	width: 100%;
}

/* location.html */

#location-1 {
	width: 90%;
}